body  {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
  background-color: #000000; /* Noir */
  background-image: radial-gradient(at 20% 20%, #4a148c, #0c1445); /* Dégradé radial de violet à bleu foncé */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  text-align: center;
  padding: 50px;
  font-size: 80px;
  font-weight: 600;
  color: white;
}

.menu {
  margin-top: 20px;
  display: flex;
  height: 50px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media screen and (max-width: 700px) {
  .menu {
    flex-direction: column;
    height: 50px;
  }

  .item {
    height: 50px;
    margin-bottom: 20px;
  }
}

.animated-link {
  display: inline-block;
  background: #000;
  border-radius: 3px;
  text-decoration: none;
}

.animated-link span1 {
  display: inline-block;
  background: #0091ff;
  color: #000000;
  border: px solid #333;
  padding: 18px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition:
  transform 0.15 ease-out,
  color 0.15 ease-out,
  background-color 0.15 ease-out;
}
.animated-link:hover span1 {
  transform: translate(-6px, -6px);
  color: #000;
  background: #ffaa00;
}

.animated-link span2 {
  display: inline-block;
  background: #ffe600;
  color: #000000;
  border: px solid #333;
  padding: 18px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition:
  transform 0.15 ease-out,
  color 0.15 ease-out,
  background-color 0.15 ease-out;
}
.animated-link:hover span2 {
  transform: translate(-6px, -6px);
  color: #000;
  background: #ff00ee;
}

.animated-link span3 {
  display: inline-block;
  background: #00ff08;
  color: #000000;
  border: px solid #333;
  padding: 18px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition:
  transform 0.15 ease-out,
  color 0.15 ease-out,
  background-color 0.15 ease-out;
}
.animated-link:hover span3 {
  transform: translate(-6px, -6px);
  color: #000;
  background: #ff0000;
}