body  {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
  background-color: #000000; /* Noir */
  background-image: radial-gradient(at 20% 20%, #2300a4, #0c1445); /* Dégradé radial de violet à bleu foncé */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  .menu {
    flex-direction: column;
    height: 50px;
  }

  .item {
    height: 50px;
    margin-bottom: 20px;
  }

  .colone {
    flex-direction: column;
    display: flex;    
    align-items: center;
  }
  
  .case {
    margin-top: 150px; /* Ajuster la valeur selon vos besoins */   
  }
}

.top {
  text-align: center;
  padding: 50px;
  font-size: 80px;
  font-weight: 600;
  color: white;
}

.menu {
  margin-top: 20px;
  display: flex;
  height: 50px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.animated-link {
  display: inline-block;
  background: #000;
  border-radius: 3px;
  text-decoration: none;
}

.animated-link span {
  display: inline-block;
  background: #3700ff;
  color: #ffffff;
  border: px solid #333;
  padding: 18px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition:
  transform 0.15 ease-out,
  color 0.15 ease-out,
  background-color 0.15 ease-out;
}

.animated-link:hover span {
  transform: translate(-6px, -6px);
  color: #ffffff;
  background: #0800ff;
}

.colone {
  display: flex;
  margin-top: 20px;
  gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.case {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-left: 5px; /* Position horizontale à partir de la gauche de la fenêtre */
  margin-right: 5px;
  width: 100%; /* Largeur de la case fixe */
  height: auto; /* Hauteur de la case fixe */
  background-color: #000000;
  background-image: radial-gradient(at 20% 20%, #ff6f00, #ff0000); /* Couleur de fond de la case fixe */
  border: 2px solid #ffffff; /* Bordure de la case fixe */
  border-radius: 5px;
  padding: 10px;
}